<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>MessageBoard</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/styles.css">

</head>

<body>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="js/index.js"></script>


  <div id="message_container">
    <div id="header_container">
      <h1 id="header_title">GroupYou</h1>
    </div>
    <div id="content_container">
      <div id="message_text_container">
        {{{body}}}
        <div id="send_message_container">
          <form id="group-message-form">
            <input type="text" name="message" id="group-message-input" placeholder="Group Message">
            <a><span class="glyphicon glyphicon-upload" id="group-message-button"></span></a>
          </form>
        </div>
      </div>
    </div>
    <div id="footer_container">
    </div>
  </div>

</body>

</html>
