
<form class="login-register-form" action="/login" method="post">
  <h1 class="login-register-title">Login</h1>
  <div class="col-10">
    <input class="form-control login-register-input" type="text" name="username" id="username-input-login">
  </div>
  <div class="col-10">
    <input class="form-control login-register-input" type="password" name="password" id="password-input-login">
  </div>
  <div class="col-10">
    <input class="form-control login-register-input" type="submit" name="submit" id="login-login" value="Login">
  </div>
</form>
