
<form class="login-register-form" action="/signup" method="post">
  <h1 class="login-register-title">Signup</h1>
  <div class="col-10">
    <input class="form-control login-register-input" type="text" name="username" placeholder="username" id="username-input-login">
  </div>
  <div class="col-10">
    <input class="form-control login-register-input" type="password" name="password" placeholder="password" id="password-input-login">
  </div>
  <div class="col-10">
    <input class="form-control login-register-input" type="text" name="phone" placeholder="Phone #" id="phone-input-login">
  </div>
  <div class="col-10">
    <input class="form-control login-register-input" type="text" name="group" placeholder= "Group Name" id="group-input-login">
  </div>
  <div class="col-10">
    <input class="form-control login-register-input" type="text" name="imgURL" placeholder="Your image URL" id="img-input-login">
  </div>
  <div class="col-10">
    <input class="form-control login-register-input" type="text" name="groupImgURL" placeholder="Group image URL" id="group-img-input-login">
  </div>
  <div class="col-10">
    <input class="form-control login-register-input" type="submit" name="submit" id="register-register" value="Register">
  </div>
</form>
