<ul id="messages_container">
  {{#each messages}}
    <li>[{{this.from}} sent at {{this.receivedAt}}]: {{this.content}}</li>
  {{/each}}
</ul>

<script>
  $(document).ready(function(){
    $.ajax({
      url: "https://stormy-basin-23393.herokuapp.com/messages",
      method: "get",
      success: function(response){
        console.log($("#messages_container").children().length);
        console.log(response);
        console.log(response.length);
      },
      error: function(err){
        console.log(err);
      }
    });
  });

</script>
