<ul id="messages_container">
  {{#each messages}}
    <li><img src="{{this.imgUrl}}"> [{{this.sender.name}} sent at {{this.receivedAt}}]: {{this.content}}</li>
  {{/each}}
</ul>

<script>
  $(document).ready(function(){

    setInterval(update, 3000);

  });

  function update(){
    $.ajax({
      url: "https://stormy-basin-23393.herokuapp.com/messages",
      method: "get",
      success: function(response){
        if(response.messages.length > $("#messages_container").children().length){
          for (var i = $("#messages_container").children().length; i < response.messages.length; i ++){
            var curMessage = response.messages[i];
            var messageLi = $(`<li>[${curMessage.from} sent at ${curMessage.receivedAt}]: ${curMessage.content}</li>`);
            $('#messages_container').append(messageLi);
          }
        }
      },
      error: function(err){
        console.log(err);
      }
    });
  }

</script>
