<ul id="messages_ul_container">
  {{#each messages}}
    <li class="message_to_display"><img class="profile_img" src="{{this.sender.imgURL}}"> [{{this.sender.name}}]: {{this.content}}</li>
  {{/each}}
</ul>
